body {
	padding-bottom: 75px;
}

div {
	margin-right: 50px;
	margin-left: 50px;
	padding-bottom: 50px;
}

table {
	table-layout: fixed;
	width: 100%;
	height: 10%;
}

td.holder {
	background-color: green;
	font-size: 0px;
	border-right: 1px solid white;
}

td.holder:hover {
	background-color: gray;
}

td.holder:focus {
	background-color: black;
}

tr.timelineBars {
	height: 30%;
}

tr.showText {
	width: 100%;
}

#errorFailed {
	color: red;
}
#errorPassed {
	color: green;
}

textarea {
	resize: none;
}