<html>
	<head>
		<title>Dates and Times</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
		
		<script language="Javascript">
			var MAX_ENTRIES = 10;
			function findRow(){
				for(i=1;i <= MAX_ENTRIES;i++){
					line = "term" + i.toString();
					if(document.getElementById(line) == null){
						return i;
					}
				}
				return false;
			}
			function addRow(){
				var index = findRow();
				if(index == false){
					alert("Can't add another person");
					return;
				}
				var formTable = document.getElementById("formTable");
				var newRow = formTable.insertRow(index);
				var termCell = newRow.insertCell(0);
				var clarCell = newRow.insertCell(1);
				
				var termLine = "term" + index.toString();
				var clarLine = "clarify" + index.toString();
				
				termCell.innerHTML = "<input type='text' name='" + termLine + "' id='" + termLine + "'>";
				clarCell.innerHTML = "<input type='text' name='" + clarLine + "' id='" + clarLine + "'>";
				
			}
			function resetTime(){
				var tag = document.getElementById("waitTime");
				var string = "Loading ... This takes about " + findRow() + " seconds";
				tag.innerHTML = string;
			}
		</script>
	</head>

	<body>
		<center>
		<h1><strong>Dates and Times</strong></h1>
		
		</br>
		<form action="/results" method="get">
			<table id="formTable">
				<tr>
					<th>Search Term</th>
					<th>Clarification</th>
				</tr>
				<tr>
					<td><input type="text" name="term1" id="term1"></td>
					<td><input type="text" name="clarify1" id="clarify1"></td>
				</tr>
				<tr>
					<td><button type="button" onClick="addRow();" id="addButton">Add Person</button></td>
					<td><button type="submit" onClick="resetTime();" id="submitButton">Enter</button></td>
				</tr>
			</table>
			
		</form>
		</br>
		<p id="waitTime"></p>
		</center>
	</body>
</html>